
.table_header
{
	text-align: center;
	min-width:100px;
	vertical-align: middle;
}

.table_reserved
{
	background-color: red;
	color: white;
	text-align: center;
	min-width:100px;
	vertical-align: middle;
	cursor:pointer;
}
.table_free
{
	background-color: green;
	color: white;
	text-align: center;
	min-width:100px;
	vertical-align: middle;
	cursor:pointer;
}
.table_blocked
{
	background-color: #81a1ba;
	color: white;
	text-align: center;
	min-width:100px;
	vertical-align: middle;
	cursor:pointer;
}
.table_ocupado
{
	background-color: #FB6809;
	color: white;
	text-align: center;
	min-width:100px;
	vertical-align: middle;
	cursor:pointer;
}
.table_late_checkout, .table_early_checkin
{
	background-color: gray;
	color: white;
	text-align: center;
	min-width:100px;
	vertical-align: middle;
	cursor:pointer;
}
